<!--start navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <a class="navbar-brand" href="#">SHadow616</a>

  <div class="container text-uppercase">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="navbar-toggler-icon  "></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
        <li class="nav-item " routerLinkActive='active'>
          <a class="nav-link" routerLink='home'>Home
            <i class="fa fa-home   fa-fw "></i>
          </a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='listings'>Listings
            <i class="fa fa-list fa-fw"></i>
          </a>
        </li>

        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='addlist'>ADD-list
            <i class="fa fa-plus-square-o fa-fw" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='login'>Login
            <i class="fa fa-sign-in   fa-fw"></i>
          </a>
        </li>

        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink='register'>signup
            <i class="fa fa-hand-o-left   fa-fw"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>

</nav>
<!-- end navbar -->